.nav{
    display: flex;
    width: 350px;
    justify-content: space-between;
}
.nav a{
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.nav a:hover{
    color: #0f5daf;
}
.nav a.active{
    color: #27c754;
}